.candidates{
  display: flex;
  justify-content: space-around;
}
.candidate{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.total{
  text-align: center;
}
.info{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.votes{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candidates-counts{
  display: flex;
  justify-content: space-between;
}


.aside{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.aside-items{
  text-align: left;
}